## Identify the data type of the following values:

**99.9**
float

**"False"**
string

**False**
boolean

**'0'**
string

**0**
int

**True**
boolean

**'True'**
string

**[{}]**
list

**{'a': []}**
dictionary

## What data type would best represent:

**A term or phrase typed into a search box?**

string

**If a user is logged in?**

boolean

**A discount amount to apply to a user's shopping cart?**

float

**Whether or not a coupon code is valid?**

boolean

**An email address typed into a registration form?**

string

**The price of a product?**

float

**A Matrix?**

dictionary

**The email addresses collected from a registration form?**

dictionary

**Information about applicants to Codeup's data science program?**

dictionary

## For each of the following code blocks, read the expression and predict what the result of evaluating it would be, then execute the expression in your Python REPL.

In [231]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [235]:
6 % 4

2

In [236]:
type(6 % 4)

int

In [237]:
type(type(6 % 4))

type

In [238]:
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [239]:
0 < 0

False

In [240]:
'False' == False

False

In [241]:
True == 'True'

False

In [242]:
5 >= -5

True

In [258]:
!False or False

In [244]:
True or "42"

True

In [246]:
!True && !False

/bin/sh: !False: command not found

In [247]:
6 % 5

1

In [248]:
5 < 4 and 1 == 1

False

In [249]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [250]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (<ipython-input-250-28fe0c9082c3>, line 1)

In [251]:
6 % 3 == 0

True

In [252]:
5 % 2 != 0

True

In [234]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [253]:
[1] + [2]

[1, 2]

In [254]:
[1] * 2

[1, 1]

In [255]:
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [256]:
[] + [] == []

True

In [257]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

### Write some Python code, that is, variables and operators, to describe the following scenarios. Do not worry about the real operations to get the values, the goal of these exercises is to understand how real world conditions can be represented with code.

In [277]:
# You have rented some movies for your kids: 
# The little mermaid (for 3 days), 
# Brother Bear (for 5 days, they love it) 
# Hercules (1 day, you dont know yet if theyre going to like it). 
# If price for a movie per day is 3 dollars, how much will you have to pay?

little_m_days = 3
brother_b_days = 5
hercules_days = 1

rate = 3

total_cost = (little_m_days * rate) + (brother_b_days * rate) + (hercules_days * rate)

total_cost

27

In [278]:
# Suppose youre working as a contractor for 3 companies: Google, Amazon and Facebook, they pay you a different rate per hour. 
# Google pays 400 dollars per hour, Amazon 380, and Facebook 350. How much will you receive in payment for this week? 
# You worked 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

google_pay = 400
amazon_pay = 380
facebook_pay = 350

google_hours = 6
amazon_hours = 4
facebook_hours = 10

total_payment = (google_pay * google_hours) + (amazon_pay * amazon_hours) + (facebook_pay * facebook_hours)

total_payment

7420

In [279]:
# A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

class_has_room = True
schedule_works = True

student_can_enroll = class_has_room and schedule_works

student_can_enroll

True

In [280]:
# A product offer can be applied only if people buys more than 2 items, and the offer has not expired. 
# Premium members do not need to buy a specific amount of products.

buying_2_or_more_items = True
is_member_premium = False
is_offer_date_valid = True

apply_product_offer = (buying_2_or_more_items or is_member_premium) and is_offer_date_valid

apply_product_offer

True

In [281]:
# Create a variable that holds a boolean value for each of the following conditions:
# the password must be at least 5 characters
# the username must be no more than 20 characters
# the password must not be the same as the username
# bonus neither the username or password can start or end with whitespace 

username = 'codeup'
password = 'notastrongpassword'

pw_len = (len(password) >= 5) 
un_len= (len(username) <= 20)
pw_and_un_are_diff = username.lower() != password.lower() 
no_empty_space_un = username[0] != " " and username[-1] != " " 
no_empty_space_pw = password[0] != " " and password[-1] != " "

un_and_pw_valid = pw_len and un_len and pw_and_un_are_diff and no_empty_space_un and no_empty_space_pw

un_and_pw_valid

True

## 17 list comprehension problems in python

In [282]:
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

In [283]:
# Example for loop solution to add 1 to each number in the list
numbers_plus_one = []
for number in numbers:
    numbers_plus_one.append(number + 1)

# Example of using a list comprehension to create a list of the numbers plus one.
numbers_plus_one = [number + 1 for number in numbers]

# Example code that creates a list of all of the list of strings in fruits and uppercases every string
output = []
for fruit in fruits:
    output.append(fruit.upper())

In [284]:
# Exercise 1 - rewrite the above example code using list comprehension syntax. 
# Make a variable named uppercased_fruits to hold the output of the list comprehension. 
# Output should be ['MANGO', 'KIWI', etc...]

uppercased_fruits = [fruit.upper() for fruit in fruits]

uppercased_fruits

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

In [285]:
# Exercise 2 - create a variable named capitalized_fruits and use list comprehension syntax to produce output like ['Mango', 'Kiwi', 'Strawberry', etc...]

capitalized_fruits = [fruit.capitalize() for fruit in fruits]

capitalized_fruits

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange']

In [287]:
# Exercise 3 - Use a list comprehension to make a variable named fruits_with_more_than_two_vowels. Hint: You'll need a way to check if something is a vowel.

def count_vowels(v):      
    count = 0
    vowels = set("aeiouAEIOU") 
    for eachLetter in v:
        if eachLetter in vowels: 
            count = count + 1
    return (count)

fruits_with_more_than_two_vowels = [x for x in fruits if count_vowels(x) > 2]

fruits_with_more_than_two_vowels

['guava', 'pineapple', 'mandarin orange']

In [288]:
# Exercise 4 - make a variable named fruits_with_only_two_vowels. The result should be ['mango', 'kiwi', 'strawberry']

def count_vowels(v):      
    count = 0
    vowels = set("aeiouAEIOU") 
    for eachLetter in v:
        if eachLetter in vowels: 
            count = count + 1
    return (count)

fruits_with_only_two_vowels = [x for x in fruits if count_vowels(x) == 2]

fruits_with_only_two_vowels

['mango', 'kiwi', 'strawberry']

In [289]:
# Exercise 5 - make a list that contains each fruit with more than 5 characters

fruit_has_more_than_five_chars = [x for x in fruits if len(x) > 5]

fruit_has_more_than_five_chars

['strawberry', 'pineapple', 'mandarin orange']

In [290]:
# Exercise 6 - make a list that contains each fruit with exactly 5 characters

fruit_has_exactly_five_chars = [x for x in fruits if len(x) == 5]

fruit_has_exactly_five_chars

['mango', 'guava']

In [291]:
# Exercise 7 - Make a list that contains fruits that have less than 5 characters

fruit_has_less_than_five_chars = [x for x in fruits if len(x) < 5]

fruit_has_less_than_five_chars

['kiwi']

In [292]:
# Exercise 8 - Make a list containing the number of characters in each fruit. Output would be [5, 4, 10, etc... ]

characters_per_fruit = [len(x) for x in fruits]

characters_per_fruit

[5, 4, 10, 5, 9, 15]

In [293]:
# Exercise 9 - Make a variable named fruits_with_letter_a that contains a list of only the fruits that contain the letter "a"

fruits_with_letter_a = [x for x in fruits if 'a' in x]

fruits_with_letter_a

['mango', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [294]:
# Exercise 10 - Make a variable named even_numbers that holds only the even numbers 

even_numbers = [x for x in numbers if x % 2 == 0]

even_numbers

[2, 4, 6, 8, 10, 256, -8, -4, -2]

In [295]:
# Exercise 11 - Make a variable named odd_numbers that holds only the odd numbers

odd_numbers = [x for x in numbers if x % 2 != 0]

odd_numbers

[3, 5, 7, 9, 11, 13, 17, 19, 23, 5, -9]

In [296]:
# Exercise 12 - Make a variable named positive_numbers that holds only the positive numbers

positive_numbers = [x for x in numbers if x > 0]

positive_numbers

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, 5]

In [297]:
# Exercise 13 - Make a variable named negative_numbers that holds only the negative numbers

negative_numbers = [x for x in numbers if x < 0]

negative_numbers

[-8, -4, -2, -9]

In [298]:
# Exercise 14 - use a list comprehension w/ a conditional in order to produce a list of numbers with 2 or more numerals

numbers_with_two_or_more_numerals = [x for x in numbers if len(str(abs(x))) >= 2]

numbers_with_two_or_more_numerals

[10, 11, 13, 17, 19, 23, 256]

In [306]:
# Exercise 15 - Make a variable named numbers_squared that contains the numbers list with each element squared. Output is [4, 9, 16, etc...]

numbers_squared = [(x ** 2) for x in numbers]

numbers_squared

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 169,
 289,
 361,
 529,
 65536,
 64,
 16,
 4,
 25,
 81]

In [300]:
# Exercise 16 - Make a variable named odd_negative_numbers that contains only the numbers that are both odd and negative.

odd_negative_numbers = [x for x in numbers if x < 0 and x % 2 == 1]

odd_negative_numbers

[-9]

In [301]:
# Exercise 17 - Make a variable named numbers_plus_5. In it, return a list containing each number plus five. 

numbers_plus_5 = [(x + 5) for x in numbers]

numbers_plus_5

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 22, 24, 28, 261, -3, 1, 3, 10, -4]

In [305]:
# BONUS Make a variable named "primes" that is a list containing the prime numbers in the numbers list. *Hint* you may want to make or find a helper function that determines if a given number is prime or not.

def test_prime(n):
    if (n == 1):
        return False
    elif (n < 0):
        return False
    elif (n == 2):
        return True;
    else:
        for x in range(2,n):
            if(n % x == 0):
                return False
        return True  

primes = [x for x in numbers if test_prime(x) == True]

primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 5]

## 20 Python Data Structure Manipulation Exercises

In [9]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [75]:
# How many students are there?